//font-size

$font-size-base:16px;
$font-size-sm:14px;
$font-size-lg:20px;
$font-size-xl:24px;
$h2-font-size:48px;
$h3-font-size:36px;
$h4-font-size:24px;
$h5-font-size:20px;




//color

$primary:#AA0601;
$secondary:#AA06010D;
$danger:#650300;
$dark:#000;
$dgray:  #212529;
$gray:#707070;
$white:#FFF;